{# templates/home/index.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
</head>
<body>
    <header>
        <nav class="d-flex justify-content-between mx-auto" style="border-bottom: 1px solid #CF3D25;">
            <div class="text-bg-danger" style="width:10%;">
               <img src="{{ asset('assets/logo/logo_principal_blanc.svg') }}" class="resp"/>
            </div>
            <ul class="col-7 d-flex justify-content-between align-self-center">
                <li><a href="{{ path('home') }}" class="">Accueil</a></li>
                <li><a href="#" class="">Qui sommes-nous ?</a></li>
                <li><a href="#" class="">Services</a></li>
                <li><a href="#" class="">Projets</a></li>
                <li><a href="#" class="">Travailler avec nous</a></li>
            </ul>
             <div class="col-2 d-flex d-flex justify-content-center align-self-center">
                <span class="round-language-style burdig-color-white">EN</span>
                <i class="bi bi-list"></i>
            </div>
        </nav>
        <section class="first-section sec-custom" style="text-align:center;">
            <h1 class="burdig-color-white col-8 mx-auto" style="">Tes projets web meritent du solide</h1>
            <h3 class="burdig-color-white">Ton équipe de développeurs au bout d'un clic</h3>
            <p class="burdig-color-white">Des sites et des logiciels custom aui roulent sqns accroc. on pense plus loin, pour toi.</p>
            <button class="round-language-style burdig-color-white px-3" style="background-color:transparent;">Démarre ton projet</button>
        </setion>
    </header>
 
    <main>
        <section class="second-section sec-custom">
            <div style="width:80%;margin: auto;">
                <div class="col-7">
                    <h3 class="burdig-color-brown">Chez Burdig, on va au-dela de la programmation</h3>
                    <div class="row">
                        <p class="col-6 burdig-color-brown" style="font-size: 12px;">On crée des outils grace a la programmation, pour simplifier ta vie et propulser ton entreprise.
                        On prend le temps de comprendre tes besoins, tes defis et ta vision, afin e te proposer des solutions sur mesure.</p>
                        <p class="col-6 burdig-color-brown" style="font-size: 12px;">Que ce soit pour un site web, autommatiser des taches ou connecter des logiciels, nos sltions evolent avec toi
                        pour un impact concret.</p>
                    </div>
                    <a href="#" class="round-language-style px-3 burdig-bgcolor-red">On t'exlique comment</a>
                </div>
                <div class="col-5"></div>
            </div>
        </section>
        <section class="third-section sec-custom">
            <div style="width:90%;margin: auto;">
                <h2 class="burdig-color-white">Des services de programmation sur mesure. Rien de moins</h2>
                <p class="col-10 mx-auto burdig-color-white">Ton entreprise mérite mieux qu'un template de site webpopulaire et une 
                montage de plugins.La solution réside dans une programmation personalise, conçue pour répondre a tes besoins spécifiques.</p>
                <i class="bi bi-arrow-down-short burdig-color-white" style="font-size:80px;border: 2px solid white;border-radius: 50%;padding: 5px 20px;"></i>
            </div>
        </section>
        <section class="four-section sec-custom">
        <div class="row">
            <div class="col-3" style="writing-mode: sideways-lr;align-content: center;">
                <h3 class="burdig-color-white">Dis-nous ce que tu veux, on le code</h3>
                <a href="" class="round-language-style burdig-color-white py-3" style="background-color:transparent;">En savoir plus</a>
            </div>
            <div class="col-8 align-content-center">
                <div class="row mx-auto">
                    <div class="col-6">
                        <h4 class="burdig-color-white">Developpement de sites web performants</h4>
                        <p class="burdig-color-red">Un site web qui travaille aussi fort que toi</p>
                        <p class="burdig-color-white">On ne fait pas juste des jolis sites, on crée des plateformes solides, rapides et pensés pour performer.</p>
                    </div>
                    <div class="col-6">
                        <h4 class="burdig-color-white">Developpement de modules complémentaires</h4>
                        <p class="burdig-color-red">Améliore ce aue tu utilises déja</p>
                        <p class="burdig-color-white">On ne fait pas juste des jolis sites, on crée des plateformes solides, rapides et pensés pour performer.</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        <h4 class="burdig-color-white">Developpement de logiciels sur mesure</h4>
                        <p class="burdig-color-red">Des logiciels qui s'adaptent a toi (et pas l'inverse)</p>
                        <p class="burdig-color-white">On ne fait pas juste des jolis sites, on crée des plateformes solides, rapides et pensés pour performer.</p>
                    </div>
                    <div class="col-6">
                        <h4 class="burdig-color-white">Developpement de liens entre logiciels</h4>
                        <p class="burdig-color-red">On fait parler tes logiciels entre eux grace a la programmation</p>
                        <p class="burdig-color-white">On ne fait pas juste des jolis sites, on crée des plateformes solides, rapides et pensés pour performer.</p>
                    </div>
                </div>
            </div>
        </div>
        </section>

          <section class="five-section sec-custom">
            <div style="width:80%;margin: auto;text-align: center;">
                    <h3 class="burdig-color-brown">Laisse-toi accompagner par</h3>
                    <h2 class="burdig-color-brown">Ton équipe web, sans les complications.</h2>
                    <div class="row">
                        <p class="burdig-color-brown" style="font-size: 12px;">On devient ta gang de développeurs a portée de main. Proactifs, disponibles
                        et pret a repousser les limites pour aue tes rojts prennent vie (et fonctionnent pour vrai!).</p>
                    </div>
                    <a href="#" class="round-language-style px-3 burdig-bgcolor-red">On en jase ?</a>
            </div>
        </section>
         <section class="six-section sec-custom" style="text-align: left;">
            <div style="width:80%;margin: auto;">
                <div class="col-6">
                    <h2 class="burdig-color-white">Pret a passer a la vitesse supérieure ?</h2>
                    <p class="burdig-color-white" style="font-size: 12px;">Un p'tit clic et on s'occupe du reste.</p>
                    <a href="#" class="round-language-style px-3">Lance ton projet Maintenant</a>
                </div>
            </div>
        </section>

        
    </main>

    <footer>
        <p>&copy; 2025 MonSiteWeb. Tous droits réservés.</p>
    </footer>
</body>
</html>

