 <nav class="d-flex justify-content-between mx-auto" style="border-bottom: 1px solid #CF3D25;">
            <div class="text-bg-danger" style="width:10%;">
               <img src="{{ asset('assets/logo/logo_principal_blanc.svg') }}" class="resp"/>
            </div>
            <ul class="col-7 d-flex justify-content-between align-self-center">
                <li><a href="{{ path('home') }}" class="">Accueil</a></li>
                <li><a href="{{ path('app_about') }}" class="">Qui sommes-nous ?</a></li>
                <li><a href="{{ path('app_service') }}" class="">Services</a></li>
                <li><a href="#" class="">Projets</a></li>
                <li><a href="{{ path('app_contact') }}" class="">Travailler avec nous</a></li>
            </ul>
             <div class="col-2 d-flex d-flex justify-content-center align-self-center">
                <span class="round-language-style burdig-color-white">EN</span>
                <i class="bi bi-list"></i>
            </div>
        </nav>